@use "../fonts/Inter";
@use "../utils";

.hero {
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 58px;
    gap: 20px;
    position: relative;

    @include utils.from('s') {
      gap: 30px;
    }
  }

  * {
    z-index: 10;
    position: relative;
  }

  &__container {
    padding-bottom: 40px;

    @include utils.from('xl') {
      padding-bottom: 60px;
    }
  }

  &__header {
    @include Inter.setFont(24px, 500);
    color: #000;
    margin-bottom: 17px;

    @include utils.from('md') {
      font-size: 30px;
      max-width: 400px;
    }

    @include utils.from('lg') {
      font-size: 40px;
      max-width: 500px;
    }

  }

  &__first,
  &__last {
    display: flex;
    flex-direction: column;
    gap: inherit;
  }

  &__first {
    justify-content: space-between;

    @include utils.from('sm') {
      flex-direction: row;
      align-items: center;
    }
  }

  /* Implant */
  &__implant-image {
    @include utils.from('md') {
      position: absolute;
      right: 0;
      top: 20px;
      z-index: 0;
      max-width: clamp(150px, 60%, 600px);
    }

    @include utils.from('xl') {
      top: 30px;
      right: 50px;
    }
  }

  &__implant-price {
      @include Inter.setFont(16px, 700);
      background-color: var(--main-color);
      color: white;
      padding: 6px 10px;
      display: block;
      max-width: max-content;
      border-radius: 10px;
      position: absolute;
      top: 15px;
      right: -18px;

      @include utils.from('s') {
        font-size: 20px;
      }

      @include utils.from('sm') {
        font-size: 24px;
      }

      @include utils.from('md') {
        font-size: 30px;
        top: 50px;
        right: 0;
      }

      @include utils.from('lg') {
        font-size: 35px;
        right: unset;
        left: -60px;
        bottom: 100px;
        top: unset;
      }

      @include utils.from('xl') {
        font-size: 40px;
      }

    }

  /* Utp */
  &__utp {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @include Inter.setFont(15px, 500);

    @include utils.from('s') {
      gap: 20px;
    }

    @include utils.from('sm') {
      font-size: 16px;
      gap: 30px;
      flex-direction: row;
    }

    @include utils.from('md') {
      font-size: 17px;
    }

    @include utils.from('lg') {
      font-size: 18px;
      gap: 60px;
    }

    &-item {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      gap: 10px;

      @include utils.from('s') {
        gap: 15px;
        flex-direction: row;
        text-align: left;
      }

      &:first-child {
        .hero__utp-item-title {
          @include utils.from('lg') {
            max-width: min-content;
          }
        }
      }

      &:last-child {
        .hero__utp-item-title {
          @include utils.from('lg') {
            max-width: 350px;
          }

          @include utils.from('xl') {
            max-width: 230px;
          }
        }
      }

      &-img {
        @include utils.flexCenter();
        @include utils.hardWidth(75px);

        @include utils.from('lg') {
          @include utils.hardWidth(85px);
        }
      }

      &-title {
        @include utils.from('s') {
          max-width: 300px;
        }
      }
    }
  }


  /* Profit List */
  &__profit-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    @include Inter.setFont(14px, 400);

    @include utils.from('sm') {
      font-size: 16px;
      gap: 18px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @include utils.from('md') {
      font-size: 17px;
      gap: 22px;
      display: flex;
    }

    @include utils.from('lg') {
      gap: 25px;
    }
  }

  &__profit-item {
    display: flex;
    gap: 10px;

    &::before {
      content: '';
      display: block;
      background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0085 0C5.37645 0 0 5.37645 0 12.0085C0 18.6405 5.37645 24.017 12.0085 24.017C18.6405 24.017 24.017 18.6405 24.017 12.0085C24.017 5.37645 18.6405 0 12.0085 0ZM7.01519 11.975C6.85637 11.827 6.64631 11.7464 6.42926 11.7502C6.21221 11.7541 6.00513 11.842 5.85163 11.9955C5.69813 12.149 5.6102 12.3561 5.60637 12.5731C5.60254 12.7902 5.68311 13.0002 5.8311 13.1591L9.1823 16.5103C9.33939 16.6672 9.55233 16.7553 9.77435 16.7553C9.99637 16.7553 10.2093 16.6672 10.3664 16.5103L18.1859 8.69079C18.3339 8.53197 18.4144 8.32191 18.4106 8.10486C18.4068 7.88782 18.3188 7.68073 18.1653 7.52723C18.0118 7.37373 17.8048 7.2858 17.5877 7.28197C17.3707 7.27814 17.1606 7.35871 17.0018 7.5067L9.77435 14.7341L7.01519 11.975Z' fill='%23198353'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: center;
      @include utils.hardWidth(20px);
      aspect-ratio: 1;

      @include utils.from('sm') {
        @include utils.hardWidth(22px);
      }

      @include utils.from('md') {
        @include utils.hardWidth(24px);
      }
    }
  }
}