.simple-btn {
  background-color: #B72F31;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  outline: none;
  font-size: 24px;
  padding: 20px 30px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 12px 12px 0px #00000026;
  transition: .2s all;
  min-width: max-content;

  &:hover {
    background-color: white;
    color: black;
  }

  svg {
    width: 25px;
    height: 25px;
  }
}