@use "./fonts/Inter";
@use "utils";

.modal-wrapper {
  padding: 10px;
  overflow: hidden;
  width: 100%;
  @include Inter.setFont(24px, 500);
}

.modal {
  background-color: white;
  width: 100%;
  max-height: 90dvh;
  border-radius: 15px;
  max-width: 800px;
  overflow-x: hidden;

  &__header {
    display: flex;
    justify-content: flex-end;
  }

  &__closeBtn {
    cursor: pointer;
    transition: .2s all;
    padding: 5px;
    box-sizing: content-box;

    &:hover {
      color: red;
    }
  }

  &__wrap {
    height: 100%;
    padding: 20px;
    width: 100%;
    overflow-x: auto;
  }
}

.modal-call {
  &__title {
    font-size: 20px;
    color: #2A2A2A;

    @include utils.from('s') {
      font-size: 30px;
    }

    @include utils.from('sm') {
      font-size: 40px;
    }

    @include utils.from('md') {
      font-size: 50px;
    }

    span {
      color: #2f3fb7;
    }
  }

  &__desc {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    font-weight: 300;

    @include utils.from('s') {
      font-size: 18px;
    }

    @include utils.from('sm') {
      font-size: 22px;
    }

    @include utils.from('md') {
      font-size: 25px;
    }
  }
}

.form {
  --f-size: 24px;
  --text-color: #2D2D2D;
  --rd: 10px;
  background-color: #F4F4F4;
  border-radius: var(--rd);
  color: var(--text-color);
  padding: 25px 30px;
  margin-top: 30px;

  @media (max-width: 920px) {
    --f-size: 20px;
  }

  @media (max-width: 768px) {
    --f-size: 19px;
    margin-top: 20px;
  }

  @media (max-width: 430px) {
    --f-size: 16px;
    padding: 20px;
    margin-top: 20px;
  }

  @include utils.from('md') {
    margin-top: 40px;
  }

  &__btn,
  &__input {
    border-radius: 15px !important;
  }

  &__btn {
    font-size: 18px;
    padding: 10px 10px;

    @media (min-width: 920px) {
      padding: 22px 20px;
      font-size: 24px;
    }
  }


  &__policy {
    font-size: 16px;
    margin-top: 20px;

    @media (max-width: 920px) {
      text-align: center;
    }

    @media (max-width: 768px) {
      font-size: 15px;
    }

    @media (max-width: 576px) {
      font-size: 14px;
    }

    @media (max-width: 430px) {
      font-size: 13px;
    }

    @media (max-width: 380px) {
      font-size: 12px;
    }

    @media (max-width: 300px) {
      font-size: 11px;
    }

    a {
      color: #5CC2FF;
      font-weight: bold;
      text-decoration: revert;
      transition: .2s all;

      &:hover {
        color: var(--text-color);
      }
    }
  }

  &__title {
    font-size: var(--f-size);
    margin-bottom: 4px;

    @media (max-width: 920px) {
      margin-bottom: 10px;
    }
  }

  &__phone {
    font-size: var(--f-size);
    padding: 20px 30px;
    border-radius: 30px;
    border: 1px solid #999999;
    outline: none;

    @media (max-width: 920px) {
      padding: 15px 30px;
    }

    @media (max-width: 576px) {
      padding: 10px 20px;
    }

    &::placeholder {
      color: #CAD5DC;
    }
  }

  &__flex {
    display: flex;
    gap: 20px;

    @media (max-width: 1200px) {
      flex-direction: column;
    }

    @media (max-width: 920px) {
      gap: 15px;
    }

    > * {
      width: 100%;
    }
  }
}