@use "vars";
@use "reset";

@use "blocks/content";
@use "blocks/container";
@use "blocks/consult";
@use "blocks/utp";
@use "blocks/header";
@use "blocks/footer";
@use "blocks/main";
@use "blocks/hero";
@use "blocks/accent";