@use "vars";
@use "reset";
@use "btns";
@use "modals";

@use "blocks/content";
@use "blocks/container";
@use "blocks/consult";
@use "blocks/utp";
@use "blocks/quiz";
@use "blocks/header";
@use "blocks/footer";
@use "blocks/main";
@use "blocks/hero";
@use "blocks/accent";